.how-work-block {
  display: flex;
  flex-direction: column;
  border: 1px solid #0A1D2714;
  border-radius: 32px;
  padding: 24px 36px;

  & > img {
    width: 100%;
    height: auto;
    padding: 48px 0 90px;
  }

  &:last-child > img {
    padding-bottom: calc(90px + 2.91%);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__title {
    font-weight: 500;
    font-size: 28px;
    line-height: 135%;

    &--mobile {
      display: none;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #0A1D27CC;
  }
}

@media (max-width: 1440px) {
  .how-work-block {
    border-radius: 24px;
    padding: 20px 32px;

    & > img {
      padding: 44px 0 82px;
    }

    &:last-child > img {
      padding-bottom: calc(82px + 2.91%);
    }

    &__content {
      gap: 10px;
    }

    &__title {
      font-size: 25px;
    }

    &__text {
      font-size: 18px;
    }
  }
}

@media (max-width: 992px) {
  .how-work-block {
    padding: 24px 20px;
    gap: 24px;

    & > img {
      padding: 0;
    }

    &:last-child > img {
      padding-bottom: 2.91%;
    }

    &__content {
      gap: 10px;
    }

    &__title {
      font-size: 20px;
      display: none;

      &--mobile {
        display: block;
      }
    }

    &__text {
      font-size: 15px;
    }
  }
}